EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyD7ofYuOWjUcwmUxzBw0HDEaIYxL6nKGVc"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="laundryapp-production.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="laundryapp-production"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="laundryapp-production.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="277799320097"
EXPO_PUBLIC_FIREBASE_APP_ID="1:277799320097:web:a7f20b02a8c23e52ec0160"
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY="G-RY4PCT03ZY"
