EXPO_PUBLIC_APP_ENV=staging
EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBGeiEVWzl11jUwcw-8sbNhdPe3R1nDxIQ"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="laundryapp-staging.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="laundryapp-staging"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="laundryapp-staging.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="943840286689"
EXPO_PUBLIC_FIREBASE_APP_ID="1:943840286689:web:4160d880821f8b637ae4a0"
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY="G-WH5MFX33ZS"
